
.heroContainer {
  display: flex;
  height: auto;
  width: 100vw;
  flex-direction: row;
  align-items: center;
}
.img {
  width: 80%;
  height: auto;
  object-fit: fill;
}

.imageContainer {
  display: flex;
  flex: 1; /* Take up remaining space */
  height: 100%;
  align-items: center;
  justify-content: end;
}

.textContainer { /* Take up remaining space */
  flex: 1;
  align-items: flex-start;
  padding: 20px;
  display: flex;
}

.title {
  color:#9e0059;
  width: 80%;
  font-size: 60px;
}

.subtitle {
  width:100%;
  font-size: 20px;
  color: #8592b5;
}

@media (max-width: 600px) {
  .imageContainer{
    justify-content: center;
  }
 .heroContainer{
  flex-direction: column;
  margin-top: 50px;
 }
 .img{
  width: 80vw;
 }
 .title{
  text-align: center;
  font-size: 20px;
  width: 80%;

 }
 .heroText {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
 }
 .subtitle{
  text-align: center;
  font-size: 13px;
  width: 80%;
 }
 .textContainer{
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
 }
}
