.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  width: 100vw;
  min-height: 100vh;
  background-color:#ced4da;
}
.mainContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}
.posts{
  flex: 2;
}
.form{
  flex: 1;
}
@media (max-width: 700px) {
  .mainContent{
    flex-direction: column;
  }
  .main{
    padding: 10px;
  }
}

/* Tablet and Smaller Desktop */
