.postContainer {
    width: 100%;
    height: 200px;
    margin: 10px 0;
    padding: 20px;
    border-radius: 10px;
    background-color: #f8f9fa;
}
.authorContainer {
    color: #6c757d;

}
.title{
    font-size: 13px;
    font-weight: bold;
    margin-top: 10px;
}
.body {
    padding-top: 10px;
    color: #343a40;
}
@media (max-width: 700px) {
    .postContainer
    {
      padding: 10px;
      height: auto;
    }
    .title {
        color: #48cae4;
    }
  }