.postContainer{
    width: 400px;
    height: auto;
    margin: 10px 10px;
    padding: 20px;
    border-radius: 10px;
    background-color: #f8f9fa;
}
.authorContainer {
    color: #6c757d;

}
.title{
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;

}
.postImage {
    border-radius: 5px;
    margin:5px 0;
    object-fit: cover;
}
.avatar {
    border-radius: 50%;
}
.body {
    height: 70%;
    padding-top: 10px;
    color: #343a40;
    overflow-y: hidden;
}
@media (max-width: 700px) {
    .postContainer
    {
      padding: 20px;
      height: auto;
    }
    .title {
        color: #a4133c;
        font-size: 13px;
    }
  }