/* components/nav.module.css */

.navbar {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 10;
  height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: hsl(338, 49%, 43%);
    color: #ede0d4;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
  }

  .logoContainer {
    display: flex;
    align-items: center;
  }

  .logo {
    width: 30px; /* Adjust size as needed */
    height: auto;
    margin-right: 0.5rem;
  }
  .userImg {
    border-radius:50%;
    margin: 5px;
  }

  .logoText {
    font-size: 1.2rem;
    font-weight: bold;
    color: #ede0d4;
    text-decoration: none;
  }

  .signInButton {
    padding: 0.5rem 1rem;
    border: none;
    background-color: #f7b801;
    color: #ede0d4;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .signOutButton {
    margin-left: 10px;
    padding: 0.5rem 1rem;
    border: none;
    background-color: #f0e6ef;
    color: #da1e37;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .signOutDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

  }

  .signInButton:hover {
    background-color: #ffcc00;
  }
  @media (max-width: 700px) {
   .logoText{
    font-size: 13px;
   }
   .signIn{
    font-size: 13px;
   }
  }
